<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
 <!-- <test name="ProductListPageTest">
		<classes>
			<class name="rough.test1" />
		</classes>
	</test> -->

	<listeners>
		<!-- <listener class-name="com.avlview.ExtentReporterListner.ExtentReporterNG" /> -->
		<listener class-name="com.avlview.listners.CustomListeners" />
		<listener class-name="com.avlview.Analyzer.MyTransformer" />
		
	</listeners>


	<!-- <test name="Login Page Test">
		<classes>
			<class name="com.avlview.app.testcases.LoginPageTest" />
		</classes>
	</test>

	<test name="ForgotPasswordPageTest">
		<classes>
			<class name="com.avlview.app.testcases.ForgotPasswordPageTest" />
		</classes>
	</test> -->


	<!-- <test name="SettingsPageTest">
		<classes>
			<class name="com.avlview.app.testcases.SettingsPageTest" />
		</classes>
	</test>
 -->
	<!-- <test name="TaxListPageTest">
		<classes>
			<class name="com.avlview.app.testcases.TaxListPageTest" />
		</classes>
	</test>

	<test name="AddTaxPageTest">
		<classes>
			<class name="com.avlview.app.testcases.AddTaxPageTest" />
		</classes>
	</test>
	
	
	<test name="DeviceListPageTest">
		<classes>
			<class name="com.avlview.app.testcases.DeviceListPageTest" />
		</classes>
	</test>
	
	<test name="AddDevicePageTest">
		<classes>
			<class name="com.avlview.app.testcases.AddDevicePageTest" />
		</classes>
	</test>
	
	<test name="UpdateDevicePageTest">
		<classes>
			<class name="com.avlview.app.testcases.UpdateDevicePageTest" />
		</classes>
	</test>
	
	
	
	<test name="ProductListPageTest">
		<classes>
			<class name="com.avlview.app.testcases.ProductListPageTest" />
		</classes>
	</test>
	
	<test name="AddProductPageTest">
		<classes>
			<class name="com.avlview.app.testcases.AddProductPageTest" />
		</classes>
	</test>
	 -->

	

	<test name="ClientsPageTest">
		<classes>
			<class name="com.avlview.app.testcases.ClientsPageTest" />
		</classes>
	</test>

	<test name="AddClientPageTest">
		<classes>
			<class name="com.avlview.app.testcases.AddClientPageTest" />
		</classes>
	</test>
<!-- 
	<test name="AddVehicleTest">
		<classes>
			<class name="com.avlview.app.testcases.AddVehicleTest" />
		</classes>
	</test>
 -->

 
</suite> <!-- Suite -->
